@use '../helpers/variable.scss'as variable;
@import './typography.scss';

body {
    font-size: 18px;
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
    font-family: Roboto, Alef;

}

html {
    scroll-behavior: smooth;
}

.bold {
    font-weight: bold;
}



header+* {
    min-height: 100vh;
}

body .button-color {
    background-color: variable.$base-color;
    color: #fff;
    font-weight: bold;
    transition: 1s all ease;

    &:hover {
        background-color: variable.$secondary-color;
        transition: 1s all ease;
    }
}

.italic {
    font-style: italic;
}

.only-desktop {
    display: none !important;
}

.sub-desc {
    font-size: 0.8rem;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
    &.blue {
        color: $base-color;
    }
}

.header~div:not(.footer) {
    width: 90%;
    margin: 0 auto;
}

.no-scroll {
    height: 100%;
    overflow: hidden;
}

@media only screen and (min-width:1000px) {
    .only-desktop {
        display: initial !important;
    }
}