@use '../../../../ressources/scss/helpers/variable.scss'as variable;

.footer-content {

    .social-icones {
        align-items: center;
        height: 20vh;

        background-color: variable.$secondary-color;

        a {
            display: flex;
            background-color: white;
            padding: 10px;
            border-radius: 100%;

            &.facebook-icone {
                color: variable.$facebook;
            }

            &.linkedin-icone {
                color: variable.$linkedin;
            }

            &.mail-icone {
                color: variable.$secondary-color;
            }
        }
    }


}