.footer {


    svg {
        float: left;
        transform: translateY(1px);
    }

    .socialIcones {
        align-items: center;
        height: 20vh;
        background-color: $secondary-color;

        a {
            background-color: white;
            padding: 10px;
            border-radius: 100%;

            &.facebook-icone {
                color: $facebook;
            }

            &.linkedin-icone {
                color: $linkedin;
            }

            &.mail-icone {
                color: $secondary-color;
            }
        }
    }


}