@keyframes opacityTransition {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.message {
    border-radius: 10px;
    background-color: rgba(230, 230, 230, 0.61);

    h5 {
        padding: 0;
        margin: 5px;
    }

    padding:15px 5px;
    word-break: break-word;
}

.message.anim-opacity {
    animation: opacityTransition linear 0.2s;

}