.newsletter {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    line-height: 1.5rem;
    >svg {
        background-color: $base-color;
        border-radius: 100%;
        padding: 5px;
        align-self: center;
        fill: $text-light-color;
        font-size: 2.5rem;
        margin: 20px;
    }

    p {
        display: flex;
        align-items: center;
        justify-content: center;



    }

    .newsletter.send {
        justify-content: center;

        .opacityTransition {
            font-weight: bold;
            white-space: nowrap;
            animation: opacityTransition 1s linear;
        }

        .sendSvg {
            margin-right: 30px;
            color: green;
            animation: addedContent 3s linear alternate;
        }
    }

    @import './NewsletterInput.scss';
}