@use '../helpers/variable.scss'as variable;

@mixin socialPanel {
    .social-info {
        justify-content: space-between;
        flex-direction: row-reverse;
        color: variable.$text-dark-secondary-color;
        display: flex;
        font-size: variable.$small;
        align-items: center;


        .view-and-comment,
        .likes {
            display: flex;

            span {
                margin: 0 5px;
                display: flex;
                align-items: center;
            }

        }

        .likes {
            margin: 0 5px;
            cursor: pointer;

            svg {
                color: pink;
            }
        }

    }
}