$base-color:#03A9F4;
$secondary-color:#0288D1;
$text-light-color:#FFFFFF;
$text-dark-color:#212121;
$text-dark-secondary-color:#757575;
$divider-color:#BDBDBD;
$big:1.4rem;
$small:0.8rem;
$nav-height:56px;

